.idfc_landing_wrap{
	// height: 95vh;

	.block_wrap{
		text-align: center;
		position: relative;
		top: 200px;
		width: 70%;
		margin: 0px auto;
		.checkmark{
			width: 3rem;
		}
		h4{
			font-size: 18px;
		}
		p{
			font-size: 12px;
			color: $m_grey;
		}
	}
	img{
		width: 100%;
	}
	.content{
		width: 90%;
		margin: auto;
		h2{
			font-size: 20px;
			margin: 1.2em 0px;
		}
		p{
			font-size: 12px;
			color: #818181;
			font-weight: 200;
			margin: 1em 0px;
			
		
		}


	.feature_block{
		display: flex;
		align-items: center;
		
    // justify-content: center;
    width: 90%;
    margin: 15px auto 0px auto;
    border-radius: 8px;
		&_1{
			background-color: #441248;
			
		}
		&_2{
			background-color: #906F00;
		}
		.icon{
			height: 3.5em;
			width: auto;	
			margin-right: 12px;
		}
		.text{
			font-size: 12px;
			font-style: InterBold;
			color: white;
			padding-right: 10px
		}
	}
}


.pay1_field{
	width: 100%;
	input{
		width: 100%;
	}
}

}

.pri_action_button{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	font-size: 18px;
	text-align: center;
	background-color: $red;
	color: white;
	padding: 15px;

}