.bottom_line{
	border-bottom: 1px dotted $l_grey;
}


.kit_title{
	small{
		color: $m_grey;
	}
}

.kit_heading{
	margin: 2rem 0rem 1rem 0rem;
}

.error_text{
	color: $error_red;
}


.form_wrap{
	background-color: white;
	padding: 2rem;
	border-radius: 4px;
	.details, .aadhar_card{
		@extend .bottom_line;
	}

	.el_block{
		padding-top: 1.5rem;
	}



}

.verified_label{
	color: $positive_col;
	i{
		font-size: 1.2rem !important;
		vertical-align: middle;
	}
	
}


.doc-preview {
		.imagePreview{
		width: 12rem;
    	height: auto;
        border-radius: 8px;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        object-fit: cover;
        }


		
        p{
        	font-family: 'Roboto';
        	color: $m_grey;
        	font-weight: 400;
        }
    }