.pancard_wrap{
	.dashboard{
		overflow-y: scroll;
		.form_box{
			padding: 30px 0px;
			
		}
		padding: 30px;
		position: relative;
		flex-direction: column;
		// justify-content: space-between;
		h6{
			width: 100%;
		}
		hr{
			opacity: 0.3;
		}
		.cta{
			position: relative;
			bottom: 0;	
			width: 100%;
		}


		.detail_box{
			background-color: $l_grey;
			color: $m_grey;
			padding: 10px 30px;
			border-radius: 10px;
			span{
				color: $red;
			}
		}
		
		label{
			span{
				color: black;
			}
		}
	}
}