






@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Medium.otf);
}
@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter-SemiBold.otf);
}

.mono{
	font-family: 'Space Mono', monospace !important;
}

// variables

$red: #EB1538;
$black: #1C1C1C;
$l_grey: #F2F2F2;
$bg_grey: #F8F8F8;
$d_grey: #4B4B4B;
$m_grey: #818181;
$alert_col: #EA9000;
$error_red: #EC1A3B;

// variables


.pricol{
	color: $red
}

$positive_col: #08AF4F;

.spinner-red, .spinner-red-only{
	border-color: $red;
}

.tableframe{
	border: 1px solid #f2f2f2;
}


.spinit {
  width: 100px;
  height: 100px;
  background-color: #0CB1C4;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{
	background-color: $red;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
	border: 2px solid $red;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid $red;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.datepicker{
	cursor: pointer;
}


body {
	font-family: Inter;
	font-weight: 200;
	background-color: $bg_grey;
}

p{
	.red_highlight{
		color: $red;
		font-weight: bold;
	}
}

.toast_font{
	font-family: 'Roboto';
	font-weight: 400;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:auto;  
}

.core_center{
	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
}


.bttn{
	padding: 0.5rem 0.7rem;
	border-radius: 8px;
	border: none;
	text-transform: uppercase;
	font-family: 'Inter';
	font-weight: 800;
	letter-spacing: 0.1rem;
	cursor: pointer;
	font-size:12px;
	&_big{
		padding: 0.5rem 1.6rem;
	}
	&_large{
		padding: 1rem;
		width: 100%;
	}
	&_red{
		background-color: $red;
		color: white;
		&:hover{
			opacity: 0.8;
		}
		&:focus{
		background-color: $red;
		color: white;
		}
	}
	&_white{
		background-color: white;
		color: $d_grey;
		&:hover{
			opacity: 0.8;
		}
		&:focus{
		background-color: white;
		color: $d_grey;
		}
	}
	&_grey{
		background-color: $m_grey;
		color: white;
		&:hover{
			opacity: 0.8;
		}
		&:focus{
		background-color: $m_grey;
		color: white;
		}
	}
	&_grey_inv{
		background-color: white;
		color: $m_grey;
		border: 1px solid $m_grey;
		&:hover{
			opacity: 0.8;
		}
		&:focus{
		background-color: white;
		color: $m_grey;
		border: 1px solid $m_grey;
		}
	}
}





nav{
	.brand-logo{
		left: 2rem;
		img{
			width: 5rem;
			height: auto;
		}
	}
}

.dashboard{
	width: 100%;
	height: 85vh;
	border-radius: 4px;
	margin: 30px 0px;
	background-color: white;
	display: flex;
	position: relative;
	overflow: hidden;
	
	.margin_less{
		margin: 0px;
	}
	.foot_save{
		width: 100%;
		position: absolute;
		bottom: 0;
		height:4rem;
		background-color: $l_grey;
		z-index: 10;
		.action_buttons{
			padding: auto;
			display: inline-block;
			position: absolute;
			@extend .core_center;
			.bttn{
				margin: 0px 7px;
			}
  			
		}
	}

}


.left_nav{
	border-right: 1px solid $l_grey;
	height: 100%;
	
}

.h_tabs{
	height: 52px;
	border-bottom: 1px solid $bg_grey;
	.indicator{
		background-color: $red !important;
	}
	.tab{
		&:focus{
			border-bottom: 2px solid $red;
		}

		a{
			text-align: left;
			color: $m_grey !important;
			font-family: InterBold;
			span{
				i{
					vertical-align: -25%;
				}
				.positive{
					color: $positive_col;
				}
				.alert{
					color: $alert_col;
				}
			}
			&:focus{
				background-color: white !important;
				color: $d_grey !important;
				font-family: InterBold;
			}
			&:hover{
				background-color: white !important;
				color: $d_grey !important;
				
			}
		.active{
			background-color: white !important;
				color: $d_grey !important;
				font-family: InterBold;

		}

		}
	}
}


.side_tabs{
	overflow: visible !important;
	.indicator{
		background-color: transparent !important;
	}
	.tab{
		height: auto !important;
		cursor: pointer;

		a{
			text-align: left;
			text-transform: capitalize;
			padding: 10px 24px;
			font-size: 1rem !important;
			color: $black;
			&:hover{
			background-color: $bg_grey !important;
			color: $black !important;
			font-weight: 800;
			
			}
		}
		.active{
			background-color: $l_grey !important;
			color: $black !important;
			font-weight: 800;
		}
	}
}





.user_dock{
	padding: 30px;
	display: inline-flex;
	height: 100px;
	img{
		width: 40px;
		height: 40px;
		object-fit: cover;
		border-radius: 50px;
		

	}
	.username{
		font-size: 0.9rem;
		padding: 0px 10px;
	}
}

.right_sec{
	padding: 0px !important;
}

.progress_sec{
	display: inline-flex;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid $l_grey;
	padding: 0px 20px;
	img{
		width: 140px;
		height: 100px;
		margin-left: 20px;
		object-position: bottom;
	}
	.progress_box{
		width: 100%;
		padding: 0px 40px 0px 20px;
		position: relative;
		p{
			font-size: 0.9rem;
		}
		.verified_mark{
			position: absolute;
			right: 31px;
		    z-index: 1;
		    top: 39px;
			width: 2rem;
			height: auto;
		}
	}
	.pay1_progress{
	height: 12px;
	overflow: visible !important;
	border-radius: 50px;
	background: linear-gradient(0.25turn,rgba(245, 137, 155, 0) 0%, rgba(245, 137, 155, 0.49) 86.42%, #f5899b 100%);
	.determinate{
		border-radius: 50px;
		background-color: $red;
		p{
			text-align: right;
			font-weight: bold;
			color: $red;
		}


		}
		.figure{
			p{
				color: $red;

			}
			
		}
	}
}


.right_area{
	overflow: auto;
	height: 70vh;
	width: 100%;
}

	
.form_box{
	padding: 30px 60px;
	&_nopadding{
		padding: 0px 0px;
	}

	.pay1_field{
		margin: 20px 0px;
		

		.select-wrapper .caret{
			left: 75%;
		}
		.helper-text{
			
			width: 80%;
		}
		input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
		.dropdown-content li>a, .dropdown-content li>span{
			color: $d_grey;
			font-weight: 200;
		}
		input{
			width: 80%;
			font-size: 1.4rem;
			font-family: 'Inter';
			border-bottom: 1px solid $l_grey	 !important;
			box-shadow: 0 1px 0 0 $l_grey !important;
		}
		label{
			font-family: 'Roboto';
			font-weight: 600;
			color: $d_grey !important;
		}
		.l_missing{
			color: $alert_col !important;
		}
		&_fixed{
			input{
				border-bottom: 0px solid $l_grey	 !important;
				color: $black !important;
				box-shadow: none !important;
     
			}
			label{
				color: $d_grey !important;

			}
		}
	}

	.form_title{
		font-size: 0.8rem;
		font-weight: bold;
		letter-spacing: 0.1rem;
		margin-bottom: 20px;
		opacity: 0.7;
		text-transform: uppercase;
	}
}


.form_label{
	font-family: 'Roboto';
	font-weight: 600;
	color: $d_grey !important;
}

  .input-field input[type=text]:focus + label {
     color: $d_grey !important;

}

.input-field input[type=text]:focus {
     border-bottom: 1px solid $l_grey	 !important;
     box-shadow: 0 1px 0 0 $l_grey !important;
   }

.input-field input[type=text]:valid + label {
     color: $d_grey !important;

}

.input-field input[type=text]:valid {
     border-bottom: 1px solid $l_grey	 !important;
     box-shadow: 0 1px 0 0 $l_grey !important;
  }  


.avatar-upload {
    position: relative;
   	display: flex;
   	margin-top: 30px;
   	margin-bottom: 60px;
    
  
    .avatar-edit {
       
        position: relative;
        z-index: 1;
        
      	margin: 20px 30px;
      	.bttn{
      		margin-top: 10px;
      	}
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                
            }
        }
    }
    .avatar-preview {
		
        width: 160px;
        height: 160px;
        position: relative;
        border-radius: 8px;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            // border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}



.doc-upload {
    position: relative;
   	display: flex;
   	// margin-top: 30px;
	&-kit{
		text-align: center;
		p{
			margin: 5px 0px 8px 0px;
		}
   	}
   	.form_label{
		margin-bottom: 10px;
	}
    
  
    .doc-edit {
       
        position: relative;
        z-index: 1;
        
      	margin: 20px 30px;
      	.bttn{
      		margin-top: 10px;
      	}
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                
            }
        }
    }
    .doc-preview {
		.imagePreview{
		width: 12rem;
    	height: auto;
        border-radius: 8px;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        object-fit: cover;
        }


		
        p{
        	font-family: 'Roboto';
        	color: $m_grey;
        	font-weight: 400;
        }
    }
}


#aadhar_card{
	
}

.status_box{
		
		background-color: white;
		border-radius: 8px;
		width: 20%;
		position: absolute;
		z-index: 1;
		bottom: 6rem;
    	right: 3rem;

		.text{
			padding: 0rem 1rem;
			display: inline-block;
			width: 100%;


			.left{
				font-size: 1rem;
			}
			.c_status{
				float: right;
				color: $positive_col;
				font-family: 'InterBold';
				bottom: 0px;
				position: relative;
				font-size: 0.8rem;

				i{
					vertical-align: -25%;
				}
			}
		}

	}



.comp_space{
	height: 80px;
}


.prizes_wrap{
	h5{
		padding: 15px 10px;
		border: 2px solid $l_grey;
		border-radius: 8px;
		font-size: 1.2em;
	}


}


.prizes_list{
	
	.in_mobile{
		display: none;
	}
	.in_desktop{
		display: block
	}
}



$progressBarColour: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(233,233,233,1) 100%);;
$progressValueColour: $red;


.Progress{
	display: block;
	padding: 0px 10px;	
	margin-bottom: 0px;

}

.Progress-label {
	font-size: 1em;
	font-family: Helvetica, sans-serif;
    display: block;
    width: 50%;
}
.Progress-main {
    background-color: red;
	display: block;
    width: 100%;
    height: 0.7em;
    margin-top: 0.75em;
    border-radius: 50px;

}
.Progress-main::-moz-progress-bar { 
    background: $progressValueColour;
}
.Progress-main::-webkit-progress-bar {
    background: $progressBarColour;
    
}
.Progress-main::-webkit-progress-value {
    background: $progressValueColour;
}
.Progress-main::-ms-fill { 
    background: $progressValueColour;
    
}
.Progress-bar {
    margin-top: 0.95em;
    background-color: $progressBarColour;
    height: 0.3em;

}
.Progress-value {
    background-color: $progressValueColour;
    display: block;
    height: 0.3em;
}


.camp_infotext{
	font-size: 0.7em;
	.col{
		p{
			width: 90%;
			color: $d_grey;
			.hlight{
				font-weight: bold;
				font-size: 1.2em !important;
				color: $black;
			}
		}
	}
}	

progress {
   
    border-radius: 20px;
}
progress::-webkit-progress-bar {
   
    border-radius: 20px;
}
progress::-webkit-progress-value {
 
    border-radius: 20px;
}
progress::-moz-progress-bar {
   
    border-radius: 20px;
}

@import 'mobile';
@import 'kitpurchase';
@import 'pancard';
@import 'idfc';





































