@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Medium.otf); }
@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter-SemiBold.otf); }
.mono {
  font-family: 'Space Mono', monospace !important; }

.pricol {
  color: #EB1538; }

.spinner-red, .spinner-red-only {
  border-color: #EB1538; }

.tableframe {
  border: 1px solid #f2f2f2; }

.spinit {
  width: 100px;
  height: 100px;
  background-color: #0CB1C4;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */ }

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
  background-color: #EB1538; }

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
  border: 2px solid #EB1538; }

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
  border: 2px solid #EB1538; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.datepicker {
  cursor: pointer; }

body {
  font-family: Inter;
  font-weight: 200;
  background-color: #F8F8F8; }

p .red_highlight {
  color: #EB1538;
  font-weight: bold; }

.toast_font {
  font-family: 'Roboto';
  font-weight: 400; }

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left: auto; }

.core_center, .dashboard .foot_save .action_buttons {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bttn {
  padding: 0.5rem 0.7rem;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-family: 'Inter';
  font-weight: 800;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-size: 12px; }
  .bttn_big {
    padding: 0.5rem 1.6rem; }
  .bttn_large {
    padding: 1rem;
    width: 100%; }
  .bttn_red {
    background-color: #EB1538;
    color: white; }
    .bttn_red:hover {
      opacity: 0.8; }
    .bttn_red:focus {
      background-color: #EB1538;
      color: white; }
  .bttn_white {
    background-color: white;
    color: #4B4B4B; }
    .bttn_white:hover {
      opacity: 0.8; }
    .bttn_white:focus {
      background-color: white;
      color: #4B4B4B; }
  .bttn_grey {
    background-color: #818181;
    color: white; }
    .bttn_grey:hover {
      opacity: 0.8; }
    .bttn_grey:focus {
      background-color: #818181;
      color: white; }
  .bttn_grey_inv {
    background-color: white;
    color: #818181;
    border: 1px solid #818181; }
    .bttn_grey_inv:hover {
      opacity: 0.8; }
    .bttn_grey_inv:focus {
      background-color: white;
      color: #818181;
      border: 1px solid #818181; }

nav .brand-logo {
  left: 2rem; }
  nav .brand-logo img {
    width: 5rem;
    height: auto; }

.dashboard {
  width: 100%;
  height: 85vh;
  border-radius: 4px;
  margin: 30px 0px;
  background-color: white;
  display: flex;
  position: relative;
  overflow: hidden; }
  .dashboard .margin_less {
    margin: 0px; }
  .dashboard .foot_save {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 4rem;
    background-color: #F2F2F2;
    z-index: 10; }
    .dashboard .foot_save .action_buttons {
      padding: auto;
      display: inline-block;
      position: absolute; }
      .dashboard .foot_save .action_buttons .bttn {
        margin: 0px 7px; }

.left_nav {
  border-right: 1px solid #F2F2F2;
  height: 100%; }

.h_tabs {
  height: 52px;
  border-bottom: 1px solid #F8F8F8; }
  .h_tabs .indicator {
    background-color: #EB1538 !important; }
  .h_tabs .tab:focus {
    border-bottom: 2px solid #EB1538; }
  .h_tabs .tab a {
    text-align: left;
    color: #818181 !important;
    font-family: InterBold; }
    .h_tabs .tab a span i {
      vertical-align: -25%; }
    .h_tabs .tab a span .positive {
      color: #08AF4F; }
    .h_tabs .tab a span .alert {
      color: #EA9000; }
    .h_tabs .tab a:focus {
      background-color: white !important;
      color: #4B4B4B !important;
      font-family: InterBold; }
    .h_tabs .tab a:hover {
      background-color: white !important;
      color: #4B4B4B !important; }
    .h_tabs .tab a .active {
      background-color: white !important;
      color: #4B4B4B !important;
      font-family: InterBold; }

.side_tabs {
  overflow: visible !important; }
  .side_tabs .indicator {
    background-color: transparent !important; }
  .side_tabs .tab {
    height: auto !important;
    cursor: pointer; }
    .side_tabs .tab a {
      text-align: left;
      text-transform: capitalize;
      padding: 10px 24px;
      font-size: 1rem !important;
      color: #1C1C1C; }
      .side_tabs .tab a:hover {
        background-color: #F8F8F8 !important;
        color: #1C1C1C !important;
        font-weight: 800; }
    .side_tabs .tab .active {
      background-color: #F2F2F2 !important;
      color: #1C1C1C !important;
      font-weight: 800; }

.user_dock {
  padding: 30px;
  display: inline-flex;
  height: 100px; }
  .user_dock img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px; }
  .user_dock .username {
    font-size: 0.9rem;
    padding: 0px 10px; }

.right_sec {
  padding: 0px !important; }

.progress_sec {
  display: inline-flex;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #F2F2F2;
  padding: 0px 20px; }
  .progress_sec img {
    width: 140px;
    height: 100px;
    margin-left: 20px;
    object-position: bottom; }
  .progress_sec .progress_box {
    width: 100%;
    padding: 0px 40px 0px 20px;
    position: relative; }
    .progress_sec .progress_box p {
      font-size: 0.9rem; }
    .progress_sec .progress_box .verified_mark {
      position: absolute;
      right: 31px;
      z-index: 1;
      top: 39px;
      width: 2rem;
      height: auto; }
  .progress_sec .pay1_progress {
    height: 12px;
    overflow: visible !important;
    border-radius: 50px;
    background: linear-gradient(0.25turn, rgba(245, 137, 155, 0) 0%, rgba(245, 137, 155, 0.49) 86.42%, #f5899b 100%); }
    .progress_sec .pay1_progress .determinate {
      border-radius: 50px;
      background-color: #EB1538; }
      .progress_sec .pay1_progress .determinate p {
        text-align: right;
        font-weight: bold;
        color: #EB1538; }
    .progress_sec .pay1_progress .figure p {
      color: #EB1538; }

.right_area {
  overflow: auto;
  height: 70vh;
  width: 100%; }

.form_box {
  padding: 30px 60px; }
  .form_box_nopadding {
    padding: 0px 0px; }
  .form_box .pay1_field {
    margin: 20px 0px; }
    .form_box .pay1_field .select-wrapper .caret {
      left: 75%; }
    .form_box .pay1_field .helper-text {
      width: 80%; }
    .form_box .pay1_field input[type=number]::-webkit-inner-spin-button,
    .form_box .pay1_field input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .form_box .pay1_field .dropdown-content li > a, .form_box .pay1_field .dropdown-content li > span {
      color: #4B4B4B;
      font-weight: 200; }
    .form_box .pay1_field input {
      width: 80%;
      font-size: 1.4rem;
      font-family: 'Inter';
      border-bottom: 1px solid #F2F2F2 !important;
      box-shadow: 0 1px 0 0 #F2F2F2 !important; }
    .form_box .pay1_field label {
      font-family: 'Roboto';
      font-weight: 600;
      color: #4B4B4B !important; }
    .form_box .pay1_field .l_missing {
      color: #EA9000 !important; }
    .form_box .pay1_field_fixed input {
      border-bottom: 0px solid #F2F2F2 !important;
      color: #1C1C1C !important;
      box-shadow: none !important; }
    .form_box .pay1_field_fixed label {
      color: #4B4B4B !important; }
  .form_box .form_title {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
    opacity: 0.7;
    text-transform: uppercase; }

.form_label {
  font-family: 'Roboto';
  font-weight: 600;
  color: #4B4B4B !important; }

.input-field input[type=text]:focus + label {
  color: #4B4B4B !important; }

.input-field input[type=text]:focus {
  border-bottom: 1px solid #F2F2F2 !important;
  box-shadow: 0 1px 0 0 #F2F2F2 !important; }

.input-field input[type=text]:valid + label {
  color: #4B4B4B !important; }

.input-field input[type=text]:valid {
  border-bottom: 1px solid #F2F2F2 !important;
  box-shadow: 0 1px 0 0 #F2F2F2 !important; }

.avatar-upload {
  position: relative;
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px; }
  .avatar-upload .avatar-edit {
    position: relative;
    z-index: 1;
    margin: 20px 30px; }
    .avatar-upload .avatar-edit .bttn {
      margin-top: 10px; }
    .avatar-upload .avatar-edit input {
      display: none; }
      .avatar-upload .avatar-edit input + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out; }
        .avatar-upload .avatar-edit input + label:hover {
          background: #f1f1f1;
          border-color: #d6d6d6; }
  .avatar-upload .avatar-preview {
    width: 160px;
    height: 160px;
    position: relative;
    border-radius: 8px;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); }
    .avatar-upload .avatar-preview > div {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }

.doc-upload {
  position: relative;
  display: flex; }
  .doc-upload-kit {
    text-align: center; }
    .doc-upload-kit p {
      margin: 5px 0px 8px 0px; }
  .doc-upload .form_label {
    margin-bottom: 10px; }
  .doc-upload .doc-edit {
    position: relative;
    z-index: 1;
    margin: 20px 30px; }
    .doc-upload .doc-edit .bttn {
      margin-top: 10px; }
    .doc-upload .doc-edit input {
      display: none; }
      .doc-upload .doc-edit input + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out; }
        .doc-upload .doc-edit input + label:hover {
          background: #f1f1f1;
          border-color: #d6d6d6; }
  .doc-upload .doc-preview .imagePreview {
    width: 12rem;
    height: auto;
    border-radius: 8px;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    object-fit: cover; }
  .doc-upload .doc-preview p {
    font-family: 'Roboto';
    color: #818181;
    font-weight: 400; }

.status_box {
  background-color: white;
  border-radius: 8px;
  width: 20%;
  position: absolute;
  z-index: 1;
  bottom: 6rem;
  right: 3rem; }
  .status_box .text {
    padding: 0rem 1rem;
    display: inline-block;
    width: 100%; }
    .status_box .text .left {
      font-size: 1rem; }
    .status_box .text .c_status {
      float: right;
      color: #08AF4F;
      font-family: 'InterBold';
      bottom: 0px;
      position: relative;
      font-size: 0.8rem; }
      .status_box .text .c_status i {
        vertical-align: -25%; }

.comp_space {
  height: 80px; }

.prizes_wrap h5 {
  padding: 15px 10px;
  border: 2px solid #F2F2F2;
  border-radius: 8px;
  font-size: 1.2em; }

.prizes_list .in_mobile {
  display: none; }
.prizes_list .in_desktop {
  display: block; }

.Progress {
  display: block;
  padding: 0px 10px;
  margin-bottom: 0px; }

.Progress-label {
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  display: block;
  width: 50%; }

.Progress-main {
  background-color: red;
  display: block;
  width: 100%;
  height: 0.7em;
  margin-top: 0.75em;
  border-radius: 50px; }

.Progress-main::-moz-progress-bar {
  background: #EB1538; }

.Progress-main::-webkit-progress-bar {
  background: linear-gradient(90deg, #f1f1f1 0%, #e9e9e9 100%); }

.Progress-main::-webkit-progress-value {
  background: #EB1538; }

.Progress-main::-ms-fill {
  background: #EB1538; }

.Progress-bar {
  margin-top: 0.95em;
  background-color: linear-gradient(90deg, #f1f1f1 0%, #e9e9e9 100%);
  height: 0.3em; }

.Progress-value {
  background-color: #EB1538;
  display: block;
  height: 0.3em; }

.camp_infotext {
  font-size: 0.7em; }
  .camp_infotext .col p {
    width: 90%;
    color: #4B4B4B; }
    .camp_infotext .col p .hlight {
      font-weight: bold;
      font-size: 1.2em !important;
      color: #1C1C1C; }

progress {
  border-radius: 20px; }

progress::-webkit-progress-bar {
  border-radius: 20px; }

progress::-webkit-progress-value {
  border-radius: 20px; }

progress::-moz-progress-bar {
  border-radius: 20px; }

@media only screen and (max-width: 768px) {
  .prizes_list .in_desktop {
    display: none; }
  .prizes_list .in_mobile {
    display: block; } }
.bottom_line, .form_wrap .details, .form_wrap .aadhar_card {
  border-bottom: 1px dotted #F2F2F2; }

.kit_title small {
  color: #818181; }

.kit_heading {
  margin: 2rem 0rem 1rem 0rem; }

.error_text {
  color: #EC1A3B; }

.form_wrap {
  background-color: white;
  padding: 2rem;
  border-radius: 4px; }
  .form_wrap .el_block {
    padding-top: 1.5rem; }

.verified_label {
  color: #08AF4F; }
  .verified_label i {
    font-size: 1.2rem !important;
    vertical-align: middle; }

.doc-preview .imagePreview {
  width: 12rem;
  height: auto;
  border-radius: 8px;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  object-fit: cover; }
.doc-preview p {
  font-family: 'Roboto';
  color: #818181;
  font-weight: 400; }

.pancard_wrap .dashboard {
  overflow-y: scroll;
  padding: 30px;
  position: relative;
  flex-direction: column; }
  .pancard_wrap .dashboard .form_box {
    padding: 30px 0px; }
  .pancard_wrap .dashboard h6 {
    width: 100%; }
  .pancard_wrap .dashboard hr {
    opacity: 0.3; }
  .pancard_wrap .dashboard .cta {
    position: relative;
    bottom: 0;
    width: 100%; }
  .pancard_wrap .dashboard .detail_box {
    background-color: #F2F2F2;
    color: #818181;
    padding: 10px 30px;
    border-radius: 10px; }
    .pancard_wrap .dashboard .detail_box span {
      color: #EB1538; }
  .pancard_wrap .dashboard label span {
    color: black; }

.idfc_landing_wrap .block_wrap {
  text-align: center;
  position: relative;
  top: 200px;
  width: 70%;
  margin: 0px auto; }
  .idfc_landing_wrap .block_wrap .checkmark {
    width: 3rem; }
  .idfc_landing_wrap .block_wrap h4 {
    font-size: 18px; }
  .idfc_landing_wrap .block_wrap p {
    font-size: 12px;
    color: #818181; }
.idfc_landing_wrap img {
  width: 100%; }
.idfc_landing_wrap .content {
  width: 90%;
  margin: auto; }
  .idfc_landing_wrap .content h2 {
    font-size: 20px;
    margin: 1.2em 0px; }
  .idfc_landing_wrap .content p {
    font-size: 12px;
    color: #818181;
    font-weight: 200;
    margin: 1em 0px; }
  .idfc_landing_wrap .content .feature_block {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 15px auto 0px auto;
    border-radius: 8px; }
    .idfc_landing_wrap .content .feature_block_1 {
      background-color: #441248; }
    .idfc_landing_wrap .content .feature_block_2 {
      background-color: #906F00; }
    .idfc_landing_wrap .content .feature_block .icon {
      height: 3.5em;
      width: auto;
      margin-right: 12px; }
    .idfc_landing_wrap .content .feature_block .text {
      font-size: 12px;
      font-style: InterBold;
      color: white;
      padding-right: 10px; }
.idfc_landing_wrap .pay1_field {
  width: 100%; }
  .idfc_landing_wrap .pay1_field input {
    width: 100%; }

.pri_action_button {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  font-size: 18px;
  text-align: center;
  background-color: #EB1538;
  color: white;
  padding: 15px; }

/*# sourceMappingURL=style.css.map */
